.cabal-sandbox
cabal.sandbox.config
.stack-work
idx/
dist/
dist-newstyle/
log/
*.swp
*.swo
*.swn
*.swm
*.o
*.hi
*.dyn_hi
*.dyn_o
TAGS
tags
test/main
test/text
bench/tiers
eg/test-text
doc/*.html
doc/*.css
doc/*.js
doc/*.png
doc/*.gif
doc/*.json
mk/toplibs
README.html
